doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/error.css')
    
  body
    block content

    link(rel='stylesheet', href='/stylesheets/style.css')
      

    #message
      a(class='logo', href='http://hoistapps.com')

      h1 401

      p Oh no! Something went wrong. We're looking into it.
      

