extends layout

block content
 
  #container
    p Number of events triggered:
    p.number #{numEventsTriggered}


   #container
    p Number of modules executed:
    p.number #{numModulesExecuted}


   
